<footer class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <p class="navbar-brand">&copy; The Boss</p>
        </div>

        <div class="btn-group dropstart">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Aide !
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://symfony.com/doc/6.4/mercure.html">Mercure</a></li>
                <li><a class="dropdown-item" href="https://symfony.com/doc/6.4/components/messenger.html">Messenger</a></li>
                <li><a class="dropdown-item" href="https://symfony.com/doc/6.4/workflow.html">Workflow</a></li>
                <li><a class="dropdown-item" href="https://symfony.com/doc/6.4/http_client.html">Http Client</a></li>
                <li><a class="dropdown-item" href="https://symfony.com/doc/6.4/components/filesystem.html">FileSystem</a></li>
                <li><a class="dropdown-item" href="https://symfony.com/doc/6.4/translation.html">Translation</a></li>
            </ul>
        </div>
    </div>
</footer>