{% extends 'base.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block body %}
    <div class="conversation-page">
        <h1 class="conversation-page__title">Groupes de discussions</h1>
        <ul class="conversations">
            {% for conv in conversations %}
                <li class="conversations__elem">
                    <a class="conversations__link" href="{{ path('app_conversation_single', { conv_id: conv.id }) }}">
                        {{ conv.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
