@import "reset";
@import "vars";
@import "profile";
@import "form";
@import "homepage";

@import "conversations";
@import "chat";

* , *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


body {
    font-size: $fs14;
    background: url('../images/background_volympic.svg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}